.App h1 {
  font-size: 64px;
  margin-top: 25px;
  margin-bottom: 30px;
}
.App h3 {
  font-size: 34px;
  margin-bottom: 50px;
}
.App ul {
  list-style-type: none;
}

.App ul :hover {
  cursor: pointer;
  text-decoration: none;
}
